@charset "UTF-8";
body {
  overflow-x: hidden !important;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}

.section {
  height: 100%;
  width: calc( 100% / 5);
  float: left;
  position: relative;
}

.sections {
  width: 500%;
  height: 100%;
}

.section__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}

@font-face {
  font-family: "fontGraphikBold";
  src: url("../plugin/fonts/graphik/GraphikBold.otf");
}

@font-face {
  font-family: "fontGraphikMedium";
  src: url("../plugin/fonts/graphik/GraphikMedium.otf");
}

@font-face {
  font-family: "fontGraphikLight";
  src: url("../plugin/fonts/graphik/GraphikLight.otf");
}

@font-face {
  font-family: "fontGraphikSemibold";
  src: url("../plugin/fonts/graphik/GraphikSemibold.otf");
}

@font-face {
  font-family: "fontGraphikRegular";
  src: url("../plugin/fonts/graphik/GraphikRegular.otf");
}

@font-face {
  font-family: "fontNova";
  src: url("../plugin/fonts/HKNova-Medium.otf");
}

@font-face {
  font-family: "fontLatoRegular";
  src: url("../plugin/fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "fontLatoBlack";
  src: url("../plugin/fonts/lato/Lato-Black.ttf");
}

@font-face {
  font-family: "fontLatoBold";
  src: url("../plugin/fonts/lato/Lato-Bold.ttf");
}

.fontGraphikMedium {
  font-family: "fontGraphikMedium";
}

.fontGraphikRegular {
  font-family: "fontGraphikRegular";
}

.fontGraphikLight {
  font-family: "fontGraphikLight";
}

.fontGraphikBold {
  font-family: "fontGraphikBold";
}

.fontGraphikSemibold {
  font-family: "fontGraphikSemibold";
}

.fontLatoBold {
  font-family: "fontLatoBold";
}

.fontLatoRegular {
  font-family: "fontLatoRegular";
}

.fontLatoBlack {
  font-family: "fontLatoBlack";
}

.fontNova {
  font-family: "fontNova";
}

.carousel-innerr > .carousel-item {
  -webkit-transition: -webkit-transform 1.2s ease-in-out !important;
  transition: -webkit-transform 1.2s ease-in-out !important;
  transition: transform 1.2s ease-in-out !important;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out !important;
}

.scroll_styles::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.scroll_styles::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#pre-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: 150% 150%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 99999999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
}

/* Menu Header */
.header_mobile {
  border-bottom: solid 1px rgba(25, 34, 79, 0.08);
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  height: 60px;
  width: 100%;
  z-index: 1;
  position: fixed;
  -webkit-transition: all 0.4s ease-out, background 1s ease-out;
  transition: all 0.4s ease-out, background 1s ease-out;
}

.header_mobile.menu-open {
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.45s ease-out, background 0.8s ease-out;
  transition: all 0.45s ease-out, background 0.8s ease-out;
}

/* Menu List items */
.contact_btn {
  color: #665CD7;
  border-color: #665CD7;
}

.mobile-menu {
  background-color: #665CD7;
  height: 100%;
  text-align: center;
  clear: both;
}

.header_mobile ul.menu {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 40px 0px 30px;
  list-style: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.header_mobile ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  line-height: 2.8;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.header_mobile ul.menu li.menu-item {
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.header_mobile ul.menu li.active {
  background-color: rgba(100, 85, 194, 0.05);
  color: #665CD7;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.header_mobile ul.menu li.active a {
  color: #665CD7;
}

.header_mobile ul.menu li.menu-item:nth-child(1) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.header_mobile ul.menu li.menu-item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.header_mobile ul.menu li.menu-item:nth-child(3) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.header_mobile ul.menu li.menu-item:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.header_mobile ul.menu li.menu-item:nth-child(5) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.header_mobile ul.menu li.menu-item:nth-child(6) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.header_mobile ul.menu li.menu-item:nth-child(7) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.header_mobile.menu-open ul.menu li.menu-item {
  opacity: 1;
}

.header_mobile.menu-open ul.menu li.menu-item:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.header_mobile.menu-open ul.menu li.menu-item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.header_mobile.menu-open ul.menu li.menu-item:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.header_mobile.menu-open ul.menu li.menu-item:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.header_mobile.menu-open ul.menu li.menu-item:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.header_mobile.menu-open ul.menu li.menu-item:nth-child(6) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.header_mobile.menu-open ul.menu li.menu-item:nth-child(7) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

/* Menu Icon */
.crayond_logo_mobile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  /* Simply change property to float left to switch icon side :) */
  height: 60px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.icon-container {
  position: absolute;
  display: inline-block;
  z-index: 2;
  top: 0;
  right: 0;
  
  /* Simply change property to float left to switch icon side :) */
  height: 60px;
  width: 55px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.icon-container #menuicon {
  width: 20px;
  height: 10px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}

#menuicon .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #000;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#menuicon .bar.bar1 {
  -webkit-transform: translateY(0px) rotate(0deg);
  transform: translateY(0px) rotate(0deg);
}

#menuicon .bar.bar2 {
  -webkit-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}

.menu-open .icon-container {
  display: none;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu-open .icon-container #menuicon .bar {
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu-open .icon-container #menuicon .bar.bar1 {
  -webkit-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
}

.menu-open .icon-container #menuicon .bar.bar2 {
  -webkit-transform: translateY(3px) rotate(-45deg);
  transform: translateY(3px) rotate(-45deg);
}

.floatingNav {
  background: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 10px #999 !important;
          box-shadow: 0px 1px 10px #999 !important;
  padding: 5px 10px 0px 10px !important;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.floatingNav button {
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 36px !important;
  margin-bottom: 6px;
}

.fixed {
  background-color: red !important;
}

.nav-up {
  top: -107px !important;
  -webkit-box-shadow: 0 7px 12px 0 rgba(16, 31, 108, 0.07);
          box-shadow: 0 7px 12px 0 rgba(16, 31, 108, 0.07);
}

.nav-down {
  -webkit-box-shadow: 0 7px 12px 0 rgba(16, 31, 108, 0.07);
          box-shadow: 0 7px 12px 0 rgba(16, 31, 108, 0.07);
}

.header_mobile {
  background-color: #ffffff;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  height: 60px;
}

.header_mobile tag {
  font-size: 10px;
  padding: 3px 4px;
  position: absolute;
  top: 0px;
  width: 35px;
  height: 17px;
  border-radius: 3px;
  background-color: #16cebc;
  line-height: 1.1;
  color: #fff;
  margin-left: 30px;
}

.header_mobile .logo_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  height: 60px;
}

.header_mobile .logo_mobile a {
  margin: auto 0;
}

.header_mobile .logo_mobile a img {
  width: 120px;
}

.header_mobile .header_mobile_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  height: 60px;
}

.header_mobile .header_mobile_menu span {
  margin: auto 0 auto auto;
}

.header_mobile .header_mobile_menu span i {
  font-size: 20px;
}

.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 12px 10px 12px 10px;
  width: 100%;
  z-index: 12;
  position: fixed;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  width: 100%;
}

.header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .row a {
  float: left;
  color: #43434b;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
}

.header .row .logo_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .row .logo_area .logo {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

.header .row .logo_area .logo img {
  width: 134px;
}

.header .row .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .row .header_menu span {
  color: #43434b;
  font-size: 1rem;
  margin: auto;
  padding: 10px 0px;
  cursor: pointer;
}

.header .row .header_menu span:hover {
  color: #665CD7;
}

.header .row .header_menu span a:hover {
  color: #665CD7;
}

.header .row .header_menu span tag {
  font-size: 10px;
  padding: 3px 4px;
  position: absolute;
  right: -10px;
  top: 4px;
  width: 35px;
  height: 17px;
  border-radius: 3px;
  background-color: #16cebc;
  line-height: 1.1;
  color: #fff;
}

.header .row .header_menu .active a {
  color: #665CD7;
  font-family: "fontLatoBold";
}

.header .row .sign_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .row .sign_btn button {
  margin: auto 0 auto auto;
  width: 148px;
  height: 46px;
  -webkit-box-shadow: 0 7px 12px 0 rgba(16, 31, 108, 0.07);
          box-shadow: 0 7px 12px 0 rgba(16, 31, 108, 0.07);
  font-size: 16px;
  border-color: #665CD7;
  color: #665CD7;
  border-radius: 4px;
  background-color: #ffffff;
}

.header .row .sign_btn button:hover {
  color: #ffffff;
  background-color: #665CD7;
}

.header .row .sign_btn button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.transparent_header {
  background-color: transparent;
}

.transparent_header .row a {
  color: #ffffff;
}

.transparent_header .row .sign_btn button {
  border-color: #665CD7;
  color: #fff;
  background-color: #665CD7;
}

html {
  height: 100%;
  width: 100%;
  font-family: "fontLatoRegular";
}

body {
  height: 100%;
  width: 100%;
  font-family: "fontLatoRegular";
}

.first_section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.video_player {
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  z-index: -9999;
}

.video_player video {
  width: 100%;
  display: block;
}

.header_text {
  padding-top: 10%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 6%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_text_1 {
  font-size: 5.25rem;
  font-weight: bold;
}
.banner_text_1 h2{
  font-weight: bolder;
  color:#ffbb00;
  font-style: none;
}

.banner_text_1 p {
  color: #2b2a35;
  font-size: 50px;
  font-family: "fontGraphikbold";
}

.banner_text_2 {
  margin-top:30px;
  line-height: 2.1;
  color: #595959;
  font-weight: 400;
  font-size: 1.25rem;
}

.Line-2 {
  width: 100%;
}

.banner_button {
  width: 300px;
  cursor: pointer;
  padding: 18px 30px;
  background-color: #665CD7;
  font-size: 16px;
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  position: relative;
  bottom: 0px;
}

.banner_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner_button span i {
  position: absolute;
  opacity: 0;
  top: 4px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner_button:hover {
  background-color: #665CD7;
}

.banner_button:hover span {
  padding-right: 25px;
}

.banner_button:hover span i {
  opacity: 1;
  right: 0;
}

.banner_button:focus {
  outline: none;
}

.banner__button_div {
  padding-top: 30px;
}

.other_brand {
  height: 20vh;
  background-color: rgba(51, 74, 192, 0.03);
}

.other_brand .brands {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.other_brand .brands marquee {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.other_brand .brands marquee img {
  margin: 30px;
}

.other_brand .brands .branding_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.other_brand .brands .branding_list .brands_logos {
  margin: auto;
  width: 124px;
}

/* middle textcss */
.middle_text{
  margin-top: 4%;
  margin-bottom:4%;
}
.middle_text .new_1
{
  background-color: #6e29af;
}
.newrow
{
  padding:120px;
  
}
.title1
{
  color: white;
  font-family: "fontGraphikbold";
  font-size: 2.3rem;
}
.points
{
  font-size: 1.3rem;
  color: rgba(221, 218, 218, 0.863);
  line-height: 2.5rem;
}
.points1
{
  font-size: 1.3rem;
  color: rgba(221, 218, 218, 0.863);
  line-height: 2.5rem; 
  margin-top:2%;
}
.the_result
{
  padding-top:5%;
  padding-bottom:8%;
  background-color: #fcfafa;
}

.newhead_1
{
  font-size: 45px;
  text-align:center;
  color:#ffbb00;
  
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
}
.newhead_2 {
  color: #2b2a35;
  font-size: 2.9rem;
  margin-top: 1%;
  text-align: center;
  font-family: "fontGraphiksemibold";
  
  margin-left:"5px";
}
.list_0
{
 
  color: rgba(133, 131, 131, 0.863);
  line-height: 2.5rem;
  margin-top:4%;
  font-weight: 400;
    font-size: 1.25rem;
 
}
.list_1
{
 
  color: rgba(148, 146, 146, 0.863);
  line-height: 2.5rem; 
  margin-top:4%;
  font-weight: 400;
    font-size: 1.25rem;
  
}
.feau_head
{
  font-size: 2.4rem;
 text-align:center;
 font-family: "fontGraphikbold";
}
.features_row
{
  margin-top:6%;
}
.fratures_container
{
  padding-bottom:5%;
}
.features_accordian
{
  padding-left:100px;
  padding-top:50px;
}
.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  font-weight: 700;
  
}

.active .accordion:hover {
  background-color:white;
  box-shadow: none;
  outline: none !important;
  border-bottom:1px solid #979797 !important;
  color:#6e29af;
}
button:focus { outline: none;color:#6e29af; }
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  outline: none !important;
  transition: max-height 0.2s ease-out;
  
  
}
.product_head
{
  padding-top:70px;
  padding-bottom:50px;
  background-color: rgb(53, 53, 53);
}
.goal_
{
  background-color: rgb(252, 250, 250);
  padding-top:8%;
  padding-bottom:8%;
}
.wordo_1
{
  padding-left: 18%;
}
.top_goals
{
  background-color: white;
  
}
.goal_word
{
  font-size: 1.7rem;
  color: #665CD7;
}
.product_word
{
  font-size: 2.2rem;
  font-family: "fontGraphiksemibold";
  color:white;
}

.rightside_content
{
  font-size:1.2rem;
  line-height: 2.7rem;
  color:white;
  padding-left:10px;
  padding-bottom:10px;
  padding-right:10px;
  padding-top:10px;
}
.siderow_1
{
  
  border: 1px solid rgb(243, 243, 243);
  
}

.wordo_4
{
  font-size: 18px;
  padding-top:70px;
  padding-left:20px;
  padding-bottom:70px;
  padding-right:70px;
  line-height: 2.2rem;
  color:rgb(85, 85, 85);
  border-right:1px solid rgb(243, 243, 243);
}


.quote_client
{
  padding-bottom:6%;
  padding-top:6%;
}
.qoute_contents
{
  background-color: #fafbfc;
  padding-top:100px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom:50px;
}
.whole_content
{
  margin-top:5%;
}
.details_quote
{
  padding:60px;
}
.quote_content
{
  color: rgba(90, 89, 89, 0.863);
  line-height: 2.5rem;
  margin-top:4%;
  font-weight: 590;
    font-size: 1.2rem; 
}
.name
{
  padding-top:40px;
  font-size:1.8rem;
  font-family: "fontGraphikbold";

}
.subtitle
{
  margin-top: 2%;
  font-size:1.4rem;
  font-family: "fontGraphiksemibold"; 
  color:#8934eb;
}
.next_billion {
  background-color: #242438;
  text-align: center;
  position: relative;
}

.next_billion .ovel {
  position: absolute;
  right: 15.9%;
}

.next_billion .ovel-6 {
  position: absolute;
  top: 9.3%;
  right: 20.9%;
}

.next_billion .billion {
  padding-top: 6%;
  padding-bottom: 6%;
}

.next_billion .billion .titel_button {
  padding-bottom: 30px;
}

.next_billion .billion .titel_button img {
  width: 60px;
}

.next_billion .billion .titel_button .button {
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.next_billion .billion .titel_button .button:focus {
  outline: none;
}

.next_billion .billion h1 {
  color: #ffffff;
  font-size: 3.75rem;
}

.next_billion .billion p {
  color: #ffffff;
  font-size: 22px;
}

.next_billion .billion .button_div {
  padding-top: 30px;
}

.next_billion .billion .button_div .banner_button {
  cursor: pointer;
  padding: 18px 30px;
  background-color: #665CD7;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  font-weight: 700;
  border-radius: 5px;
}

.next_billion .billion .button_div .banner_button:focus {
  outline: none;
}

.next_billion .path-3 {
  position: absolute;
  bottom: 15.5%;
  right: 28.5%;
}

.next_billion .path {
  position: absolute;
  left: 19.6%;
  bottom: 0;
}

.footer {
  padding-bottom: 4%;
  padding-top: 4%;
}

.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .row .logo_address img {
  margin-bottom: 20px;
}

.footer .row .logo_address p {
  color: #43434b;
  margin-bottom: 3px;
  font-size: 16px;
}

.footer .row .menu_list {
  text-align: center;
}

.footer .row .footer_menu {
  cursor: pointer;
  margin: 0;
  font-size: 16px;
  color: #43434b;
}

.footer .row .footer_menu:hover {
  color: #000;
}

.footer .row ul {
  padding: 0;
}

.footer .row ul li {
  padding-bottom: 10px;
  list-style-type: none;
}

.footer .row ul li span {
  color: #43434b;
  cursor: pointer;
}

.footer .row ul li span:hover {
  text-decoration: underline;
  font-weight: 500;
}

.footer_social_media {
  border-top: 1px solid rgba(25, 34, 79, 0.08);
  padding: 12px 0px;
}

.footer_social_media .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_social_media .row .footer_list {
  padding: 15px 80px 15px 0px;
  margin: 0;
}

.footer_social_media .row .footer_list span {
  font-size: 1rem;
  color: #43434b;
  cursor: pointer;
}

.footer_social_media .row .footer_list span:hover {
  color: #665CD7;
}

.footer_social_media .row .social_icon {
  width: 39px;
  height: 37px;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgba(29, 46, 137, 0.05);
}

.footer_social_media .row .social_icon:hover {
  border: solid 1px #d4e4e6;
  -webkit-box-shadow: 0 3px 1px 0 rgba(55, 89, 93, 0.07);
          box-shadow: 0 3px 1px 0 rgba(55, 89, 93, 0.07);
  background-color: #ffffff;
}

.footer_social_media .row .social_icon i {
  margin: auto;
  color: #665CD7;
}

.footer_social_media .row .footer_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0;
}

.footer_social_media .row .footer_address a {
  width: 100%;
}

.footer_social_media .row .footer_address p {
  text-align: center;
  margin: auto 0;
  width: 100%;
  border-right: 1px solid rgba(25, 34, 79, 0.08);
  font-size: 14px;
  color: #43434b;
}

.title_of_careerss {
  position: absolute;
  /* top: 110px; */
  text-align: center;
  bottom: 124px;
}

.our_mission_section {
  padding: 75px 15px;
}

.our_mission_section .our_mission_title {
  text-align: center;
}

.our_mission_section .our_mission_title .title_mobile h1 {
  color: #2b2a35;
}

.our_mission_section .our_mission_title .title_mobile .explore {
  background-color: #665CD7;
  color: #ffffff;
  margin-top: 26px;
}

.our_mission_section .our_mission_title h5 {
  font-size: 16px;
  color: #665CD7;
  font-weight: 500;
}

.our_mission_section .our_mission_title h2 {
  font-size: 4.2rem;
  font-weight: 700;
  color: #2b2a35;
}

.our_mission_section .our_mission_title p {
  color: #595959;
  font-size: 22px;
  line-height: 2;
  font-weight: normal;
}

.our_mission_section .carousel_menu {
  margin-top: 25px;
}

.our_mission_section .carousel_menu li {
  border-radius: 26.5px !important;
  -webkit-box-shadow: 0 3px 0 0 rgba(51, 74, 192, 0.04);
          box-shadow: 0 3px 0 0 rgba(51, 74, 192, 0.04);
  border: solid 1px rgba(42, 52, 105, 0.1) !important;
  background-color: #ffffff;
  padding: 10px 20px;
  color: #43434b;
  font-family: fontGraphikMedium !important;
  font-size: 13px;
  font-weight: normal !important;
}

.our_mission_section .carousel_menu .active {
  color: #ffffff;
  background-color: #665CD7;
}

.our_mission_section .carousel-inner .slider_img {
  padding-right: 5%;
}

.our_mission_section .carousel-inner h5 {
  margin-top: 30px;
  font-size: 16px;
  color: #665CD7;
  font-weight: 500;
  margin-bottom: -10px;
}

.our_mission_section .carousel-inner h1 {
  font-size: 4.2rem;
  font-weight: 700;
  color: #2b2a35;
  margin-bottom: 15px;
}

.our_mission_section .carousel-inner p {
  color: #595959;
  font-size: 20px;
  font-weight: normal;
  text-align: inherit;
  margin-top: 15px;
  line-height: 2;
}

.epic_works .epic_title {
  text-align: center;
}

.epic_works .epic_title h5 {
  font-size: 16px;
  color: #665CD7;
  font-weight: 500;
}

.epic_works .epic_title h2 {
  font-size: 4.2rem;
  font-weight: 700;
  color: #2b2a35;
}

.epic_works .epic_title p {
  color: #595959;
  font-size: 22px;
  font-weight: normal;
  line-height: 2;
}

.epic_works .event_section p {
  color: #595959;
  font-size: 24px;
  font-weight: normal;
}

.fun_gallery h5 {
  font-size: 18px;
}

.current_opening h1 {
  font-size: 4.2rem;
  font-weight: 700;
  color: #2b2a35;
  margin-bottom: 15px;
}

.current_opening .opening_section {
  padding: 6%;
}

.current_opening .opening_section .positions_card .opening_titles {
  font-size: 17px;
  color: #595959;
}

.current_opening .opening_section .positions_card button {
  background-color: #665CD7;
  color: #ffffff;
  font-family: fontLatoBlack;
}

.current_opening .contact {
  border-top: 1px solid #f0f0f0;
  padding: 35px;
}

.current_opening .contact .box_info {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.current_opening .contact .box_info .image_box {
  margin: auto;
}

.current_opening .contact .box_info .image_box .life_icon {
  position: absolute;
  top: 14px;
  border: solid 1px rgba(223, 25, 25, 0.16);
  padding: 15px 10px;
  border-radius: 50px;
}

.current_opening .contact .box_info .image_box .life_text {
  padding-left: 78px;
  margin-bottom: 12px;
}

.current_opening .contact .box_info .image_box .life_text .discription_life {
  margin-bottom: 15px;
  color: #2b2a35;
  font-size: 20px;
}

.current_opening .contact .box_info .image_box .life_text span a {
  color: #665CD7 !important;
  font-size: 18px;
  padding: 10px 16px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}

.our_team {
  background-color: #F9F9FD;
  padding-bottom: 8%;
}

.our_team h1 {
  font-weight: 700;
  font-size: 4.2rem;
}

.our_team .text {
  text-align: center;
  padding-top: 6%;
  font-size: 1.4rem;
}

.our_team .row {
  background-image: url(../images/path-4.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.our_team .banner--text {
  font-size: 1.5rem;
  color: #383838;
}

.our_team .card__body_div {
  padding: 14px 12px;
  margin-top: 66px;
}

.our_team .card__body_div .card {
  height: 112%;
  border-bottom-right-radius: 28px;
  border: none;
  -webkit-box-shadow: 0 0.3px 1px 0 rgba(51, 74, 192, 0.12), 0 10px 20px 0 rgba(51, 74, 192, 0.12);
          box-shadow: 0 0.3px 1px 0 rgba(51, 74, 192, 0.12), 0 10px 20px 0 rgba(51, 74, 192, 0.12);
  border: solid 1px rgba(51, 74, 192, 0.12);
}

.our_team .card__body_div .card_primary {
  background-color: #665CD7;
}

.our_team .card__body_div .card_primary a {
  color: #ffffff;
  text-decoration: none;
}

.our_team .card__body_div .card-title {
  margin-top: 14%;
  margin-bottom: 6%;
}

.our_team .card__body_div .card__body {
  margin: auto;
  padding: 14px 30px 16px 30px;
  height: 280px;
}

.our_team .card__body_div .card__body p {
  font-size: 21px;
}

.our_team .card__body_div .card__body .Oval_code {
  -webkit-box-shadow: 0 3px 1px 0 rgba(55, 89, 93, 0.07);
          box-shadow: 0 3px 1px 0 rgba(55, 89, 93, 0.07);
  border: solid 1px rgba(51, 74, 192, 0.15);
}

.our_team .card__body_div .card__body .Oval_flash img {
  width: 22px;
  height: 33px;
}

.our_team .card__body_div .card__body .card-text {
  color: #595959;
  font-size: 18px;
  line-height: 33px;
  height: 134px;
}

.our_team .card__body_div .card__body .fa_icon {
  -webkit-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px rgba(0, 0, 0, 0.09);
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 60px;
  position: absolute;
  top: -30px;
  left: 40px;
  height: 81px;
  text-align: center;
  width: 81px;
  vertical-align: middle;
}

.our_team .card__body_div .card__body .fa_icon img {
  margin: auto;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our_team .card__body_div h5 {
  font-weight: 700;
}

.join_team {
  background-color: #242438;
  text-align: center;
  position: relative;
}

.join_team .ovel {
  position: absolute;
  right: 15.9%;
}

.join_team .ovel-6 {
  position: absolute;
  top: 9.3%;
  right: 20.9%;
}

.join_team .billion {
  padding-top: 6%;
  padding-bottom: 6%;
}

.join_team .billion .titel_button {
  padding-bottom: 30px;
}

.join_team .billion .titel_button .button {
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.08);
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.join_team .billion .titel_button .button:focus {
  outline: none;
}

.join_team .billion h1 {
  color: #ffffff;
  font-size: 60px;
}

.join_team .billion p {
  color: #ffffff;
  font-size: 22px;
}

.join_team .billion .button_div {
  padding-top: 30px;
}

.join_team .billion .button_div .banner_button {
  cursor: pointer;
  padding: 18px 30px;
  background-color: #665CD7;
  font-size: 16px;
  color: #ffffff;
  border: none;
  font-weight: 700;
  border-radius: 5px;
}

.join_team .billion .button_div .banner_button:focus {
  outline: none;
}

.join_team .path-3 {
  position: absolute;
  bottom: 15.5%;
  right: 28.5%;
}

.join_team .path {
  position: absolute;
  left: 19.6%;
  bottom: 0;
}

.title_section {
  height: 99vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-top: 106px;
}

.title_section .container {
  margin: auto;
}

.title_section .container .who_you_are_title p {
  margin-bottom: 0;
  color: white;
  text-shadow: 2px 2px 5px #00000078;
  font-size: 4rem;
}


.sticky_tap {
  position: fixed;
  background-color: white;
  z-index: 1000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 5vh;
  border-radius: 70px;
  -webkit-box-shadow: 4px 1px 18px 0px #00000017;
          box-shadow: 4px 1px 18px 0px #00000017;
  margin-left: -7%;
  width: 76px;
  padding: 0;
  overflow: hidden;
}

.sticky_tap:hover {
  opacity: 1 !important;
}

.sticky_tap .container {
  margin: auto;
  padding: 4px 10px 26px 10px;
}

.sticky_tap .list_of_team {
  display: flow-root !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2% 0px;
}

.sticky_tap .list_of_team .nav_menu {
  margin: 0px 21px;
  width: 69px;
  padding: 14px;
}

.sticky_tap .list_of_team .team_icon {
  z-index: 1;
  width: 55px;
  height: 55px;
  border-radius: 35.5px;
  -webkit-box-shadow: 0 12px 16px 0 #f2f7ff;
          box-shadow: 0 12px 16px 0 #f2f7ff;
  background-color: #ffffff;
  border: 1px solid #e6e6e7;
  margin: 14px 0px 3px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.sticky_tap .list_of_team .team_icon img {
  margin: auto;
  width: 20px;
}

.sticky_tap .list_of_team .team_icon svg {
  width: 20px;
  margin: auto;
}

.sticky_tap .list_of_team .team_icon svg path {
  opacity: .496;
}

.sticky_tap .list_of_team .active_section_tap .team_icon {
  border: 3px solid #fff !important;
  background-color: #665cd7 !important;
}

.sticky_tap .list_of_team .active_section_tap p {
  color: #000 !important;
  font-weight: 800;
}

.sticky_tap .list_of_team .active_section_tap svg {
  width: 20px;
  margin: auto;
}

.sticky_tap .list_of_team .active_section_tap svg path {
  fill: #fff;
  opacity: 1;
}

.sticky_tap .list_of_team .time_line {
  display: none;
  position: absolute;
  top: 40px;
  height: 380px;
  background-color: #e6e6e7;
  width: 2px;
  left: 26px;
  z-index: -1;
}

@media only screen and (min-width: 1440px) {
  .header_text {
    background-size: cover;
    
  }
}

@media only screen and (min-width: 2240px) {
  .header_text {
    background-size: contain;
    margin-bottom: 4%;
    padding-bottom: 6%;
  }
  .title_section .container {
    margin: auto;
  }
  .title_section .container .who_you_are_title p {
    margin-bottom: 0;
    color: white;
    text-shadow: 2px 2px 5px #00000078;
    font-size: 4.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .header_text {
    padding-top: 10%;
   
  }
  .contact_footer_menu {
    width: 16% !important;
  }
  .sign_btn {
    display: contents !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header_text {
    background-size: contain;
    margin-bottom: 4%;
    padding-bottom: 6%;
  }
  .who_you_are .card_div .card-div .card-- .card--head {
    font-size: 1.4rem;
  }
  .who_you_are .card_div .card-div .card-- .card--text {
    font-size: 1.15rem;
  }
  .our_mission_section .carousel-inner p {
    font-size: 16px;
  }
  .epic_works .epic_title p {
    font-size: 20px;
  }
  .current_opening .opening_section .positions_card {
    padding: 0px 15px;
  }
  .current_opening .opening_section .positions_card button {
    width: 150px;
  }
  .our_vis_mis .vission .card .card_body {
    padding: 12% 15% 12% 12%;
  }
  .our_vis_mis .mission .card .card_body {
    padding: 12% 15% 12% 12%;
  }
  .time_contantes .slide .carousel-inner .carousel-item .slider_img {
    padding-right: 26px !important;
  }
  .our_approach_title {
    height: 100vh;
  }
  .why_us .project_planing h1 {
    font-size: 2.35rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_mobile {
    display: block !important;
  }
  .header {
    display: none;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
  }
  .header_menu {
    display: none !important;
  }
  .sign_btn {
    display: none !important;
  }
  .whe_we_are_video_player {
    top: 60px !important;
  }
  .header_text {
    top: 65px;
  }
  .header_text .banner_text_1 {
    font-size: 3.25rem;
  }
  .header_text .banner_text_2 {
    font-size: 1.2rem;
  }

  .next_billion .billion h1 {
    font-size: 2.5rem;
  }
  .next_billion .billion p {
    font-size: 19px;
  }
  .next_billion .path-3 {
    right: 9.5%;
    display: none !important;
  }
  .next_billion .ovel-6 {
    display: none !important;
  }
  .footer_social_media .row .footer_list {
    padding: 15px 20px 15px 0px;
  }
  
  .sticky_tap {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .header_text .banner_text_1 {
    font-size: 2rem !important;
  }
  .qoute_contents
{
  background-color: #fafbfc;
  padding-top:10px;
  padding-left:40px;
  padding-right:10px;
  padding-bottom:10px;
}
.details_quote {
  padding: 20px;
}
.name {
  padding-top: 10px;
  font-size: 1.3rem;
  font-family: "fontGraphikbold";
}
  .wordo_1
{
  padding-left: 0%;
}
.words_from
{
  font-size:22px !important;
}
.wordo_4
{
  font-size: 18px;
  line-height: 2.2rem;
  color:rgb(85, 85, 85);
  border-right:1px solid rgb(243, 243, 243);
  padding-top:40px;
  padding-bottom:0px;
  padding-left:30px;
  padding-right:30px;
 
}

.icon_112
{
  left:20px !important;
  margin-top:50px !important;
}
.icon_12 
{
  width:55px !important;
  height:55px !important;
  left:20px !important;
  margin-top:16px !important;
}

.rightside_content
{
  font-size:1.1rem;
  line-height: 2.7rem;
  color:white;
  padding-left:20px;
  padding-bottom:10px;
  padding-right:10px;
  padding-top:0px;
}
.product_word
{
  font-size: 1.4rem;
  font-family: "fontGraphiksemibold";
  color:white;
}
  .list_0
{
 
  color: rgba(133, 131, 131, 0.863);
  line-height: 2.5rem;
  margin-top:4%;
  font-weight: 400;
    font-size: 1.1rem;
    text-align: left;
    padding: 3px;
 
}
.list_1
{
 
  color: rgba(148, 146, 146, 0.863);
  line-height: 2.5rem; 
  margin-top:4%;
  font-weight: 400;
    font-size: 1.1rem;
    text-align: left;
    padding: 3px !important;
  
}
  .newrow
  {
    padding:10px;
  }
  .banner_text_3 .words_1
  {
      margin-left:10% !important;
  }
  .next_billion_1.words_2
  {
    font-size:1.5rem !important;
  }
  .newlist .title1{
    font-size: 20px;
    margin-top: 6%;
    margin-left: 20px!important;
   
  }
  .newlist .points{
    font-size:18px;
  }
  .newlist .points1{
    font-size:18px;
  }
  .banner_text_1 h2
  {
    font-size:22px;
}
  .banner_text_1 p
  {
    font-size:30px;
}
  .newhead_1
  {
    font-size:2rem !important;
  }
  .newhead_2
  {
    font-size:22px;
    text-align:center;
  }
  .features_accordian
{
  padding-left:10px;
  padding-top:0px;
}
.feau_head
{
  font-size: 28px;
}

@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden !important;
  }
  .header_mobile {
    display: block !important;
  }
  .header_mobile tag {
    font-size: 10px;
    padding: 3px 4px;
    position: absolute;
    top: 0px;
    width: 35px;
    height: 17px;
    border-radius: 3px;
    background-color: #16cebc;
    line-height: 1.1;
    color: #fff;
    margin-left: 30px;
  }
  .header {
    display: none;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
  }
  .header_menu {
    display: none !important;
  }
  .sign_btn {
    display: none !important;
  }
  .whe_we_are_video_player {
    top: 60px !important;
  }
  .video_player video {
    position: absolute;
    top: 60px;
  }
  .title_section {
    height: 240px;
  }
  .mobile_title {
    display: block;
  }
  .who_you_are_title {
    display: none;
  }
  .header_text {
    background-image: none;
    position: unset !important;
    margin-top: 15%;
    
    padding-top: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: unset;
    background-size: contain;
  }
  .banner_text_1 {
    font-size: 3.25rem;
  }
  .banner_text_2 {
    font-size: 1.2rem;
  }
  marquee {
    display: block !important;
  }
  .other_brand {
    height: auto !important;
  }
  .other_brand .brands {
    height: auto !important;
  }
  .other_brand .brands .branding_list {
    display: none;
  }
  .who_you_are {
    margin-top: 15%;
    margin-bottom: 10%;
  }
  .who_you_are .text h1 {
    font-size: 2.3rem;
    margin-bottom: 0;
  }
  .who_you_are .text img {
    width: 255px;
  }
  .who_you_are .text .banner--text {
    font-size: 1.1rem;
  }
  .who_you_are .card_div .card-div {
    padding: 15px 30px;
    -webkit-transition: none;
    transition: none;
    margin-top: 15%;
    margin-bottom: 4%;
  }
  .who_you_are .card_div .card-div:hover {
    margin-top: 15%;
  }
  .who_you_are .card_div .card-div .card-- {
    padding: 54px 30px;
  }
  .who_you_are .card_div .card-div .card-- .fa_icons {
    top: -35px;
  }
  .who_you_are .card_div h2 {
    font-size: 1.5rem;
  }
  .why_us .container_bg_section1 {
    text-align: center;
  }
  .why_us .container_bg_section2 {
    text-align: center;
  }
  .why_us .text {
    padding-top: 15%;
  }
  .why_us .text h1 {
    font-size: 2.3rem;
    margin-bottom: 0;
  }
  .why_us .text img {
    width: 255px;
  }
  .why_us .text .banner--text {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  .why_us h1 {
    font-size: 1.5rem;
  }
  .why_us .row {
    padding-top: 18%;
    padding-bottom: 15%;
  }
  .why_us .row .text_para {
    font-size: 1.1rem;
  }
  .why_us .row .fa_icon {
    display: none;
  }
  .why_us .row .left_line {
    display: none;
  }
  .why_us .row .center_line {
    display: unset !important;
  }
  .why_us .row .mobile_responce_img {
    display: block !important;
  }
  .why_us .row .desktop_responce_img {
    display: none;
  }
  .why_us .row .coming_soon_email {
    padding: 0px 15px;
  }
  .why_us .row .coming_soon_email input {
    width: 100%;
  }
  .why_us .row .coming_soon_email .desktop_btn {
    display: none;
  }
  .why_us .row .coming_soon_email .mobile_btn {
    width: 100% !important;
    display: block !important;
  }
  .our_secrets {
    padding-bottom: 15%;
  }
  .our_secrets .text {
    padding-top: 15%;
  }
  .our_secrets .text h1 {
    font-size: 2.3rem;
    margin-bottom: 0;
  }
  .our_secrets .text img {
    width: 255px;
  }
  .our_secrets .text .banner--text {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  .our_secrets .row .card__body_div {
    padding: 14px 30px;
  }
  .crayond_ceo {
    padding: 10% 0;
    margin: 8% 0px;
  }
  .crayond_ceo .about-crayond {
    padding: 20px;
  }
  .crayond_ceo .about-crayond .row .details_of_crayond {
    font-size: 1.5rem;
  }
  .crayond_ceo .about-crayond .row .name_of_writer {
    font-size: 1rem;
  }
  .crayond_ceo .images_ceo_mobile {
    padding: 15px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .crayond_ceo .images_ceo_mobile .row_mobile {
    margin: auto !important;
  }
  .crayond_ceo .images_ceo_mobile .row_mobile img {
    width: calc(100vw - 60px);
  }
  .crayond_ceo .images_ceo {
    display: none !important;
  }
  .next_billion .billion {
    padding-top: 12%;
    padding-bottom: 12%;
  }
  .next_billion .billion h1 {
    font-size: 2.5rem;
  }
  .next_billion .billion p {
    font-size: 18px;
  }
  .next_billion .path-3 {
    right: 9.5%;
    display: none;
  }
  .next_billion .ovel-6 {
    display: none;
  }
  .next_billion .path {
    left: 10.6%;
  }
  .footer {
    padding-bottom: 10%;
    padding-top: 10%;
  }
  .footer .logo_address {
    padding-bottom: 16px;
  }
  .footer .logo_address img {
    margin-bottom: 16px;
  }
  .footer .menu_list {
    text-align: left !important;
    margin-bottom: 14px !important;
  }
  .footer_social_media {
    padding: 25px 0px;
  }
  .footer_social_media .tp .footer_list {
    padding: 15px 0px;
    margin: auto;
  }
  .footer_social_media .social_icon_link {
    display: none !important;
  }
  .footer_social_media .mobile_social_links {
    margin-bottom: 30px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .footer_social_media .footer_address {
    padding-bottom: 5px;
  }
  .footer_social_media .footer_address p {
    text-align: left !important;
    margin-top: 0 !important;
  }
  .our_mission_section {
    padding: 46px 15px;
  }
  .our_mission_section .our_mission_title .title_mobile {
    margin-bottom: 60px !important;
  }
  .our_mission_section .our_mission_title .title_mobile h1 {
    font-size: 32px;
    line-height: 1.4;
  }
  .our_mission_section .our_mission_title h2 {
    font-size: 34px;
  }
  .our_mission_section .our_mission_title .mission_discription {
    font-size: 18px;
  }
  .our_mission_section .carousel-inner .slider_img {
    padding-right: 15px;
  }
  .our_mission_section .carousel-inner h5 {
    margin-top: 45px;
  }
  .our_mission_section .carousel-inner h1 {
    font-size: 24px;
  }
  .our_mission_section .carousel-inner p {
    font-size: 17px;
  }
  .epic_works .container {
    padding: 65px 15px !important;
  }
  .epic_works .container .epic_title h2 {
    font-size: 31px;
  }
  .epic_works .container .epic_title p {
    font-size: 18px;
  }
  .fun_gallery .ambience_card_mobile {
    padding: 55px 15px 55px 15px !important;
  }
  .fun_gallery .ambience_card_mobile img {
    padding: 20px 0px 20px 0px !important;
  }
  .our_team {
    padding: 6% 30px;
    margin-bottom: 40px;
  }
  .our_team h1 {
    font-size: 31px;
  }
  .current_opening h1 {
    font-size: 31px;
  }
  .current_opening .opening_section {
    padding: 6% 0px;
  }
  .current_opening .opening_section .positions_card button {
    width: 120px !important;
    padding: 8px !important;
    font-size: 13px;
  }
  .current_opening .opening_section .positions_card button:hover span {
    padding-right: 13px !important;
  }
  .current_opening .opening_section .positions_card button span i {
    top: 6px !important;
  }
  .current_opening .contact {
    padding: 35px 16px;
  }
  .current_opening .contact .box_info .image_box .life_text .discription_life {
    font-size: 16px;
  }
  .join_team .billion {
    padding-top: 16%;
    padding-bottom: 16%;
  }
  .join_team .billion h1 {
    font-size: 40px;
  }
  .join_team .billion p {
    font-size: 18px;
  }
  .join_team .ovel-6 {
    display: none;
  }
  .join_team .path-3 {
    display: none;
  }
  .join_team .button_div .banner_button {
    width: 265px !important;
  }
  .our_vis_mis {
    padding: 0;
  }
  .our_vis_mis .mobile_title {
    text-align: center;
    display: block !important;
  }
  .our_vis_mis .who_you_are_title_sort {
    margin-top: 60px;
  }
  .our_vis_mis .vission .card img {
    width: 8%;
  }
  .our_vis_mis .vission .card .card_body {
    height: 472px;
    padding: 12% 12% 12% 12%;
  }
  .our_vis_mis .vission .card .card_body h1 {
    font-size: 2.1rem;
  }
  .our_vis_mis .vission .card .card_body p {
    font-size: 1.2rem;
  }
  .our_vis_mis .mission .card .card_body {
    height: 472px;
    padding: 12% 12% 12% 12%;
  }
  .our_vis_mis .mission .card .card_body h1 {
    font-size: 2.1rem;
  }
  .our_vis_mis .mission .card .card_body p {
    font-size: 1.2rem;
  }
  .about_crayond {
    padding: 8% 0px 0px 0px !important;
  }
  .about_crayond .text h1 {
    font-size: 2.1rem;
  }
  .our_culture .text h1 {
    font-size: 2.1rem;
  }
  .our_culture .text p {
    font-size: 1.2rem;
  }
  .our_culture .card_div img {
    width: 100%;
    height: 100%;
  }
  .time_contantes {
    padding: 5% 16px 15% 16px !important;
  }
  .time_contantes .container {
    padding: 0;
  }
  .time_contantes .arrowslist {
    position: absolute;
    bottom: 15px;
  }
  .time_contantes .slide .carousel-inner {
    margin-bottom: 0px !important;
  }
  .time_contantes .slide .carousel-inner .carousel-item {
    padding: 0px 15px;
  }
  .time_contantes .slide .carousel-inner .carousel-item .slider_img {
    padding-right: 16px !important;
    margin-bottom: 20px;
  }
  .time_contantes .slide .carousel-inner .carousel-item .slider_discription {
    min-height: 340px !important;
    padding: 30px !important;
    height: unset !important;
  }
  .time_contantes .slide .carousel-inner .carousel-item .slider_discription .date {
    font-size: 16px !important;
  }
  .time_contantes .slide .carousel-inner .carousel-item .slider_discription .titel {
    font-size: 26px !important;
  }
  .time_contantes .slide .carousel-inner .carousel-item .slider_discription .diccription {
    font-size: 16px !important;
    line-height: 2 !important;
  }
  .time_contantes .slide .arrows {
    display: none !important;
    position: absolute;
    top: 420px;
    width: 100%;
    z-index: 12;
  }
  .time_contantes .slide .arrows a {
    padding: 10px 12px;
    margin-right: 52px;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 1px 0 rgba(51, 74, 192, 0.05);
            box-shadow: 0 3px 1px 0 rgba(51, 74, 192, 0.05);
    border: solid 1px #e3e3e3;
    background-color: #ffffff;
  }
  .time_contantes .slide .arrows a i {
    color: #383838;
  }
  .time_contantes .slide .arrows .right {
    padding: 10px 14px;
    margin-right: 0 !important;
  }
  .our_team_who_we_are {
    padding: 0px 0px 10% 0px;
  }
  .our_team_who_we_are .text h1 {
    font-size: 2.1rem;
  }
  .divider_line {
    width: 255px;
  }
  .banner_button {
    width: 265px !important;
  }
  .carousel-control-prev {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .carousel-control-next {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .mobile_arrow_right {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 13px 13px;
    border-radius: 50px;
    -webkit-box-shadow: 0 3px 1px 0 rgba(51, 74, 192, 0.05);
            box-shadow: 0 3px 1px 0 rgba(51, 74, 192, 0.05);
    border: solid 1px #e3e3e3;
    background-color: #ffffff;
  }
  .mobile_arrow_right i {
    padding-left: 4px;
  }
  .mobile_arrow_left {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 13px 13px;
    border-radius: 50px;
    -webkit-box-shadow: 0 3px 1px 0 rgba(51, 74, 192, 0.05);
            box-shadow: 0 3px 1px 0 rgba(51, 74, 192, 0.05);
    border: solid 1px #e3e3e3;
    background-color: #ffffff;
  }
  .mobile_arrow_left i {
    padding-right: 5px;
  }
  .typeform-widget {
    height: 520px !important;
  }
  .coming_soon {
    padding-top: 55px;
    height: auto !important;
  }
  .coming_soon .flag_bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .coming_soon .flag {
    text-align: center;
    margin: auto;
  }
  .coming_soon .flag img {
    display: none;
  }
  .coming_soon .flag p {
    background-color: #FFD34F;
    padding: 4px 20px 1px 20px;
    border-radius: 50px;
    padding-top: 4px !important;
    margin: auto;
  }
  .email_error {
    top: 14px !important;
  }
  .our_approach_title {
    height: 80vh;
  }
  .our_approach_title .banner_flag p {
    padding: 8px 0px;
    width: 255px;
    font-size: 14px;
  }
  .our_approach_title .title p {
    font-size: 30px;
  }
  .our_approach_title .sub_text p {
    font-size: 19px;
  }
  .product_planing {
    padding: 40px 0px;
  }
  .product_planing .list_of_team .team_icon {
    width: 50px;
    height: 50px;
    border-radius: 30.5px;
    margin: auto;
  }
  .product_planing .list_of_team .team_icon i {
    font-size: 19px;
  }
  .product_planing .list_of_team .team_icon img {
    width: 18px;
  }
  .product_planing .list_of_team .time_line {
    width: 285px;
    position: absolute;
    top: 40%;
    height: 2px;
    background-color: #e6e6e7;
  }
  .product_planing .list_of_team p {
    font-size: 13px;
  }
  .product_planing .section_tap {
    margin: auto;
  }
  #tap-menu {
    display: none !important;
  }
  .why_us .project_planing {
    min-height: auto !important;
  }
  .why_us .project_planing h1 {
    line-height: 1.5 !important;
  }
  .why_us .project_planing .row {
    padding-bottom: 15% !important;
    padding-top: 10% !important;
  }
  .why_us .project_planing .row .section_content {
    min-height: 340px;
  }
  .why_us .project_planing .horizontal_line {
    display: none;
  }
  .why_us .project_planing .mobile_tap_section {
    padding: 0px !important;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6px 5px 6px 5px !important;
    background-color: transparent !important;
    border: none !important;
    margin: 0 !important;
  }
  .why_us .project_planing .mobile_tap_section tapSection {
    height: 100% !important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: none !important;
    padding: 0px !important;
    padding: 0px 10px !important;
  }
  .why_us .project_planing .mobile_tap_section tapSection .active_code {
    border-radius: 50px;
  }
  .why_us .project_planing .mobile_tap_section tapSection .space_in_word {
    width: 110px;
  }
  .why_us .project_planing .mobile_tap_section tapSection span {
    font-size: 13px;
    padding: 4px 14px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 50px;
  }
  .why_us .project_planing .text_para {
    line-height: 1.8 !important;
  }
  .why_us .project_planing .flag img {
    display: none;
  }
  .why_us .project_planing .flag p {
    background-color: rgba(102, 92, 215, 0.1);
    padding: 4px 20px 1px 20px;
    border-radius: 50px;
    margin: auto;
  }
  .sticky_tap {
    display: none !important;
  }
}

@media only screen and (max-width: 321px) {
  .why_us .project_planing {
    min-height: auto !important;
  }
  .why_us .project_planing h1 {
    line-height: 1.5 !important;
  }
  .why_us .project_planing .row {
    padding-bottom: 15% !important;
    padding-top: 10% !important;
  }
  .why_us .project_planing .row .section_content {
    min-height: 400px;
  }
}

.modal .modal-confirm {
  color: #434e65;
  width: 525px;
}

.modal .modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.modal .modal-confirm .modal-content .modal-header {
  background: #47c9a2;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

.modal .modal-confirm .modal-content h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}

.modal .modal-confirm .modal-content .form-control {
  min-height: 40px;
  border-radius: 3px;
}

.modal .modal-confirm .modal-content .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal .modal-confirm .modal-content .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}

.modal .modal-confirm .modal-content .close:hover {
  opacity: 0.8;
}

.modal .modal-confirm .modal-content .icon-box {
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
  margin: auto;
}

.modal .modal-confirm .modal-content .icon-box i {
  font-size: 64px;
  margin: -4px 0 0 -4px;
}

.modal .modal-confirm .modal-content .modal-dialog {
  margin-top: 100px;
}

.modal .modal-confirm .modal-content .btn {
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  border: none;
}

.modal .modal-confirm .modal-content .btn:hover {
  outline: none;
  background: #eda645;
}

.modal .modal-confirm .modal-content .btn .btn:focus {
  background: #eda645;
  outline: none;
}

.modal .modal-confirm .modal-content .btn span {
  margin: 1px 3px 0;
  float: left;
}

.modal .modal-confirm .modal-content .btn i {
  margin-left: 1px;
  font-size: 20px;
  float: right;
}

.modal .modal-confirm .modal-content .trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
/*# sourceMappingURL=styles.css.map */
}
@media only screen and (max-width: 425px) {

.image_founder
{
  width:100% !important;
  height:100% !important;
}

}